header {
    background-color: #FAEBD7;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #5F9EA0;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: black;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: row;
}
/* https://www.w3schools.com/howto/howto_css_center_button.asp */
.center {
    margin-left: 40px;
    /* position: absolute; */
    position:relative;
    top: 20%;
    /* left: 20%; */
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    flex-direction: column;
}
button {
    background-color: #5F9EA0;
    color: white;
    border: none;
    display: block;
    width: 70px;
    margin-top: 15px;
    margin-bottom:15px;
    font: Raleway;
    /* padding-top: 15px; */
    height: 40px;
}

button:hover {
    border: 4px solid #437071; ;
}
#tools {
    /* float: left;
    width: 20%; */
    width: 20%;
    height: 500px;
    background: #FAEBD7;
    display: flex;
    flex-direction: column;
}
#draw {
    /* float: right;
    padding-right: 200px; */
    width: 80%;
    height: 500px;
    background-color: white;
}

body {
    flex-direction: row;
}

footer {
background-color: #437071;
height:600px;
text-align: center;
color: white;
}
  
input {
    width: 20%;
}