*{
    margin: 0;
    padding: 0;
}

.nav{
    width: 75%;
    height: 15%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    /* opacity: .3; */
    /* transition: opacity .5s; */
}
.right-side{
    height: 100%;
    width: 10%;
    display: flex;
    position: fixed;
    align-items: center;
    left: 0;
    top: 0;
    padding-top: 100px;
    flex-direction: column;
}
.left-side{
    height: 100%;
    width: 10%;
    display: flex;
    position: fixed;
    align-items: center;
    right: 0;
    top: 0;
    padding-top: 100px;
    flex-direction: column;
}
.title{
    position: fixed;
    top: 20px;
    left: 47%;
    font-family: "Monaco";
    font-size: 20px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

.clr{
    height: 80px;
    width: 80px;
    background-color: blue;
    border-radius: 50%;
    border: 3px solid rgb(214, 214, 214);
    transition: transform .5s;
}
.clr:hover{
    transform: scale(1.2);
}
.clr:nth-child(1){
    background-color: #000;
}
.clr:nth-child(2){
    background-color: #EF626C;
}
.clr:nth-child(3){
    background-color: #fdec03;
}
.clr:nth-child(4){
    background-color: #24d102;
}
.clr:nth-child(5){
    background-color: #fff;
}

button{
    border: none;
    outline: none;
    padding: .6em 1em;
    border-radius: 3px;
    background-color: #03bb56;
    color: #fff;
    margin: 5px;
    height: fit-content;
    width: 95%;
}
button:hover .utensiltooltip {
  /* NEW */
  display: block;
}

.utensiltooltip {
  display: none;
  /* NEW */
  background: #dfdcdc37;
  margin-left: 28px;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  width: 20px;
  height: 10px;
}
.pen {
  border: 2px solid #ff0000;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
p{
  font-family: Monaco;

}
.pen:hover {
  border: 2px solid #ff0000;
  background-color: #ff0000;
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
.pencil {
  border: 2px solid #ff9900;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
.pencil:hover {
  border: 2px solid #ff9900;
  background-color: #ff9900;
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
.airbrush {
  border: 2px solid #ffea00;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
.airbrush:hover {
  border: 2px solid #ffea00;
  background-color: #ffea00;
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
.text {
  border: 2px solid #22bd03;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
.text:hover {
  border: 2px solid #22bd03;
  background-color: #22bd03;
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
.paintBucket {
  border: 2px solid #1b7cfa;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
.paintBucket:hover {
  border: 2px solid #1b7cfa;
  background-color: #1b7cfa;
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
.eraser {
  border: 2px solid #802cbc;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
.eraser:hover {
  border: 2px solid #802cbc;
  background-color: #802cbc;
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
.stroke-eraser {
  border: 2px solid #9400D3;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
.stroke-eraser:hover {
  border: 2px solid #9400D3;
  background-color: #9400D3;
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
.select {
  border: 2px dashed blue;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
.select:hover {
  border: 2px dashed blue;
  background-color: rgb(67, 108, 255);
  color: rgb(0, 0, 0);
  font-family: Monaco;
}
.clear {
  border: 2px solid black;
  background-color: black;
  font-family: Monaco;
}
.clear:hover{
  border: 2px solid black;
  background-color: white;
  color: black;
  font-family: Monaco;
}
.save{
    background-color: #0f65d4;
}
.stroke {
    width: 20%;
    height: 60%;
    /* border-radius: 20px;
    padding: 6px; */

}
#thickness {
    height: fit-content;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  fieldset {
    width:fit-content;
    text-align: center;
    font-family: Monaco;
  }
  .radiobuttons {
    margin: 10px;
    text-align: left;
  }
  .radiobuttons:hover .utensiltooltip2{
    margin: 10px;
    text-align: left;
    display: block;
  }
  .utensiltooltip2{
    display: none;
    /* NEW */
    background: #dfdcdc37;
    position: fixed;
    z-index: 1000;
    width: 20px;
    height: 10px;
  }
